.product-wrap {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 60px;

  .filter + & {
    margin-top: 60px;
  }
}

.product {
  $parent: &;

  &__total {
    font-size: 16px;
  }

  &__bottom {
    margin: 60px auto 0;
    text-align: center;
  }

  &__list {
    margin: 0 -12px;
    @extend %clearfix;
  }

  &__item {
    width: 350px;
    float: left;
    margin: 24px 12px 0;
  }
}
