.product-filter {
  padding: 52px 0;
  background-color: #f7f7f7;

  &__inner {
    max-width: 1100px;
    margin: 0 auto;
    background-color: $white;
  }

  &__item {
    display: flex;
    padding: 14px 0;
    @include box-shadow(inset 0 -1px 0 0 #e1e1e1);
  }

  &__label {
    min-width: 160px;
    padding: 0 40px;
    box-sizing: border-box;
    font-weight: bold;
  }

}
