$color-default: #222;
$color-light: #666;
$color-dark: rgba(0, 0, 0, 0.87);
$color-primary: #3d6afe;
$white: #fff;

$button-bg-active: #3d6afe;
$button-bg-disabled: #a8a8a8;
$button-bg-default: #fff;
